* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    padding: 10px;
}


header nav a {
    color: #fff;
    text-decoration: none;
    margin: 2%;
}

section div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1%;
    gap: 2%;
}
section div img {
    float: left;
    border-radius: 50%;
    width: 20%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    margin: 1%;
}
